body {
  background-image: url('/public/images/background.png'); 
  background-size: 200px auto;
  background-position: bottom center; 
  background-attachment: fixed;
  background-repeat: no-repeat; 
  margin: 0;
  font-family: 'roboto', 'Montserrat', sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #5635d7;
  color:whitesmoke;
  height: 60px;
}

.navbar .logo img {
  height: 7rem; 
}

.navbar .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .menu li {
  margin-left: 20px;
}

.navbar .menu li a {
  color:whitesmoke;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.navbar .menu li a:hover {
  background-color: whitesmoke;;
  color: #5635d7; 
  border-radius: 10px;
}


/* Page content styles */
.page-content {
  margin: 50px;
  padding: 20px;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.welcome-title {
  font-size: 3rem;
}
